@model Photo_Video_Studio.Models.Blog

@{
    ViewBag.Title = "Create";
}
<section id="blogHead">
    <img src="~/Public/images/banner3.png" alt="">
    <div class="blogLayout"></div>
    <h1>BLOG</h1>
    <p class="blogSubtitle"><span>Our</span> Blog</p>
</section>

@using (Html.BeginForm("Create", "Blog", FormMethod.Post, new { enctype = "multipart/form-data" })) 
{
    @Html.AntiForgeryToken()
<div class="container">
    <div class="form-horizontal">
        <div class="form-group">
            <label class="" control-label col-md-2"" style="font-family:'Montserrat', sans-serif ;margin:0 0 1% 1% ">Image</label>
            <div class="col-md-10">
                <input type="file" name="Image" />
                @Html.ValidationMessageFor(model => model.Image, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="" control-label col-md-2"" style="font-family:'Montserrat', sans-serif; margin:0 0 1% 1% ">Title</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="" control-label col-md-2"" style="font-family:'Montserrat', sans-serif; margin:0 0 1% 1% ">Content</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Content, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
        <label style="font-family:'Montserrat', sans-serif;margin:0 0 1% 1% ">Tags</label>
            <div class="col-md-10">
                @Html.DropDownList("BlogTags", (IEnumerable<SelectListItem>)ViewBag.BlogTags, new { @class = "form-control", multiple = "true" })
            </div>
        </div>



        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-success" />
                <a class="btn btn-primary" href="@Url.Action("Index","Blog")">Back to List</a>
            </div>
        </div>
    </div>
</div>

}

    
