@model Photo_Video_Studio.Models.Team

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Team</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>

        <dd>
            <img src="~/Public/images/@Model.Image" alt="Alternate Text" />
        </dd>

        <dt>
            Fullname
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Job)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Job)
        </dd>

    </dl>
</div>
<p>
    <a class="btn btn-primary" href="@Url.Action("Index","Team")">Back to List</a>
</p>
