@using Photo_Video_Studio.ViewModels
@model NewsViewModel
@{
    ViewBag.Title = ViewBag.Tag;
}
<section id="newsHead">
    <img src="~/Public/images/@Model.NewsHeader.Image" alt="">
    <div class="contactLayout"></div>
    <h1>NEWS</h1>
    <p class="contactSubtitle"><span>Our</span> News</p>
</section>

<section id="mainNews">
    <div class="container">
        <div class="row newsparts">
            @foreach (var item in Model.NewsToTags)
            {
                <div class="col-md-5 offset-md-1  imgDiv">
                    <div class="col-12 imgDivInner">
                        <img src="~/Public/images/@item.News.Image" alt="">
                        <div class="layout"></div>
                    </div>
                    <p>
                        @item.News.UpdatedAt.Value.ToString("MMMM dd, yyyy")
                    </p>
                    <ul>
                        @foreach (var tag in Model.NewsToTags)
                        {
                            if (tag.NewsID == item.News.ID)
                            {
                                <li><a href="@Url.Action("Tag", "News", new { tag =tag.NewsTag.Tag })" rel="tag">#@tag.NewsTag.Tag</a></li>
                            }
                        }
                        <li>/</li>
                        <li>Comments:8</li>
                    </ul>
                    <hr>
                    <h4>@item.News.Title</h4>
                    <p>
                        @item.News.Description.Substring(0, 180)
                    </p>
                    <a class="readMore" href=" @Url.Action("Single", "News", new { id = item.News.ID })"> Read More</a>
                </div>
            }
            
        </div>
    </div>

</section>
