@model Photo_Video_Studio.ViewModels.NewsViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    <a href="Newss/Create" class="btn btn-primary">Create</a>
</p>
<table class="table">
    <tr>
        <th>
            Image
        </th>
        <th>
            Updated At
        </th>
        <th>
            Title
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.News) {
    <tr>
        <td>
            <img style="width:70%;" src="~/Public/images/@item.Image" alt="Alternate Text" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UpdatedAt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            <a href="@Url.Action("Edit", "Newss", new { id =item.ID })" class="btn btn-warning"><i class="far fa-edit"></i></a>|
            <a href="@Url.Action("Details", "Newss", new { id =item.ID })" class="btn btn-primary"><i class="fas fa-info-circle"></i></a>|
            <a href="@Url.Action("Delete", "Newss", new { id =item.ID })" class="btn btn-danger"><i class="fas fa-trash-alt"></i></a>

        </td>
    </tr>
}

</table>
